services:
  - type: web
    name: tender-bot
    env: python
    buildCommand: pip install --upgrade pip && pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_IDS
        sync: false
      - key: RENDER
        value: true
      - key: PYTHON_VERSION
        value: 3.11.0
